{{>header}}

<section class="page-content">
  <div class="post-wrap">
    <!-- map button -->
    <a class="post-box view" href="/browse?loc={{encode post.location}}">
      <div class="fa fa-map-o map-icon"></div>
      View on Map
    </a>

    <!-- image -->
    {{#if post.image_url}}
      <img class="post-box img" src="{{post.image_url}}" />
    {{/if}}

    <!-- description -->
    <div class="post-box description">
      <p>{{post.description}}</p>
    </div>

    <!-- size -->
    <div class="post-box size">
      <span class="box-title">Size</span>
      {{post.size}}
    </div>

    <!-- tags -->
    <div class="post-box tags">
      {{#each post.tags}}
        <span class="tag">{{this}}</span>
      {{/each}}
    </div>
  </div>
</section>

<script type="text/javascript" src="./scripts/index.js"></script>
